@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600&display=swap');

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: block;


  --lehigh-yellow: #FFD94A;
  --lehigh-brown: #4B2913;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  justify-content: center;
  align-content: center;
}

header {
  display: flex;
}

.navbar {
  background-color: var(--lehigh-brown);
  display: flex;
  align-items: center;
  width: 1200px;
  height: 64px;
  padding: 15px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  justify-content: space-between;
}

.nav--menu {
  display: flex;
  list-style-type: none;
  color: #ffffff;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
}

.nav--item {
  margin-right: 30px;
}

.nav--item > a {
  text-decoration: none;
  color: #ffffff;
}

.nav--item > a:hover {
  color: var(--lehigh-yellow);
}

.nav--logo {
  width: 200px;
  margin-left: 50px;
}

.account--menu {
  background-color: var(--lehigh-brown);
  width: 64px;
  height: 64px;
  padding: 15px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 30px;
  vertical-align: middle;
}

.account--menu > img {
  width: 64px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.info-card--container {
  background-size: cover;
  padding: 10rem 0 0;
  width: 360px;
  border-radius: 20px;
  color: #ffffff;
}

.info-card--content {
  --padding: 3.5em;
  padding: .5em 1.5em 1.5em var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(24 60% 18% / 0.9) 20%
  );
  border-radius: 20px;
  text-align: right;
}

.info-card--title {
  position: relative;
  width: max-content;
  line-height: 48px;
}

.info-card--title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + var(--padding));
  background-color: #ffffff;
  left: calc(var(--padding) * -1);
  bottom: 0;
}

.info-card--link {
  background-color: #FFD94A;
  padding: .5em 1.25em;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  position: relative;
  font-weight: 600;
}

.person-card--container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5rem 0;
}

.person-card--info {
  width: 360px;
  height: 500px;

  background: #FFFFFF;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2.5rem;

  text-align: center;
  line-height: 100%;
}

.person-card--research {
  width: 755px;
  height: 500px;

  background: #FFFFFF;
  box-shadow: -1px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2.5rem;
}

.person-card--img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 70%;
}

.person-card--name {
  font-size: 28px;
  font-weight: 500;
}

.person-card--role {
  font-size: 24px;
  font-weight: 300;
}

.person-card--bio {
  overflow: scroll;
  height: 30%;
}

.person-card--links {
  list-style-type: none;
  padding: 0;
  height: 50%;
  overflow: scroll;
}

.video-card--container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.video-card {
  width: 755px;
  height: auto;

  background: #FFFFFF;
  box-shadow: -1px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2.5rem;
}

.video-card--player {
  width: 100%;
  height: 360px;
  background-color: lightgray;
}

.delete-btn {
  background-color: rgb(222, 64, 64);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #000000;
  border: none;
  outline: none;
}

.delete-btn:hover {
  background-color: rgb(159, 56, 56);
  cursor: pointer;
}



.auth-form--signup{
  display: grid;
  grid-template: 40px 40px 40px 40px / 1fr 1fr;
  gap: 15px;
}

.auth-form--signin{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.auth-form--container {
  background-color: #4B2913;
  padding: 2rem 5rem;
  width: fit-content;
  border-radius: 20px;
  margin: 10rem auto;
  box-sizing: border-box;
}

.auth-form--title {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 1rem auto;
}

.auth-form--input, .auth-form--button{
  display: block;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #503b2d;
  text-align: center;
  border: 2px solid #2f1809;
}

.auth-form--input:focus {
  outline: none;
}

.auth-form--button {
  grid-column: 1 / -1;
  background-color: #FFD94A;
  border: none !important;
  color: #000000;
  width: 100%;
}

.conference-link {
  display: block;
}
