@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600&display=swap');

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: block;


  --lehigh-yellow: #FFD94A;
  --lehigh-brown: #4B2913;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  
  background-color: #f7f4f1;
}

html, body {
  height: 100%;
}

header {
  display: flex;
  width: 100%;
}

nav {
  width: 100%;
}

textarea {
  height: 100px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 40px;
}

h1:after, h1:before {
  content: '';
  width: 150px;
  height: 3px;
  background: #4B2913;
  margin: 0 10px;
}

th, td {
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 2rem;
}

th {
  background-color: #4B2913;
  color: #ffffff;
}

tr {
  max-height: 5rem;
}

button:disabled {
  background-color: gray;
}

.regular-button {
  background-color: #FFD94A;
  border: 2px solid #FFD94A;
  padding: .5em 1.25em;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  position: relative;
  font-weight: 600;
}

.regular-button:hover {
  background-color: transparent;
  border: 2px solid #FFD94A;
  color: #FFD94A;
  cursor: pointer;
}

.navbar {
  background-color: var(--lehigh-brown);
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 15px 30px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  justify-content: space-between;
}

.nav--menu {
  display: flex;
  list-style-type: none;
  color: #ffffff;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
}

.nav--item {
  margin-right: 30px;
}

.nav--item > a {
  text-decoration: none;
  color: #ffffff;
}

.nav--item > a:hover {
  color: var(--lehigh-yellow);
}

.nav--logo {
  width: 200px;
  margin-left: 50px;
}

.submit-form {
  display: grid;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
  height: auto;
}

.info-card--container {
  background-size: cover;
  margin-top: 20px;
  padding: 10rem 0 0;
  width: 360px;
  border-radius: 15px;
  color: #ffffff;
}


.conference-link {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  border-radius: 15px;
  color: #000000;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 24px;
  text-transform: capitalize;
}

.conference-link:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
}

.info-card--content {
  --padding: 3.5em;
  padding: .5em 1.5em 1.5em var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(24 60% 18% / 0.9) 20%
  );
  border-radius: 15px;
  text-align: right;
}

.info-card--title {
  position: relative;
  width: max-content;
  line-height: 48px;
}

.info-card--title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + var(--padding));
  background-color: #ffffff;
  left: calc((var(--padding) - 1.2em) * -1);
  bottom: 0;
}

.person-card--container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5rem auto;
}

.person-card--info {
  width: 360px;
  height: 500px;

  background: #FFFFFF;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 2.5rem;

  text-align: center;
  line-height: 100%;
}

.person-card--research {
  width: 650px;
  height: 500px;

  background: #FFFFFF;
  box-shadow: -1px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 2.5rem;
}

.person-card--img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 70%;
}

.person-card--name {
  font-size: 28px;
  font-weight: 500;
}

.person-card--role {
  font-size: 24px;
  font-weight: 300;
}

.person-card--bio {
  overflow: auto;
  height: 30%;
}

.person-card--links {
  list-style-type: none;
  padding: 0;
  height: 35%;
  overflow: auto;
}

.video-card--container {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.video-card {
  width: 755px;
  height: auto;
  background: #FFFFFF;
  box-shadow: -1px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 2.5rem;
}

.video-card--player {
  width: 95%;
  height: 360px;
  margin: auto;
  display: block;
  border-radius: 5px;
  background-color: lightgray;
}

.video-card--pdf {
  width: 95%;
  height: 840px;
  margin: auto;
  display: block;
  border-radius: 5px;
  background-color: lightgray;
}

.video-card--text {
  margin: 0 1.5rem;
}

.video-card--conference {
  text-transform: capitalize;
}


.delete-btn {
  background-color: rgb(222, 64, 64);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #000000;
  border: none;
  outline: none;
}

.delete-btn:hover {
  background-color: rgb(159, 56, 56);
  cursor: pointer;
}

.auth-form{
  display: grid;
  gap: 15px;
}

.signup {
  grid-template: 40px 40px 40px 40px / 1fr 1fr;
}

.signin {
  grid-template: 40px 40px / 1fr 1fr;
}

.auth-form--container {
  background-color: #4B2913;
  padding: 2rem 5rem;
  width: fit-content;
  border-radius: 15px;
  margin: 10rem auto;
  box-sizing: border-box;
}

.auth-form--title {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 1rem auto;
}

.auth-form--input, .auth-form--button{
  display: block;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #503b2d;
  text-align: center;
  border: 2px solid #2f1809;
}

.auth-form--input:focus {
  outline: none;
}

.auth-form--button {
  background-color: #FFD94A;
  border: none !important;
  color: #000000;
  width: 100%;
}

.wide-button {
  grid-column: 1 / -1;
}

.upload-form--container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.upload-form {
  display: grid;
  gap: 15px;
  width: 30%;
  margin: 20px auto;
}

.upload-form > button, .upload-form > input, .upload-form > textarea {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.upload-form > button {
  background-color: #FFD94A;
  color: #000000;
  border: none;
  outline: none;
}

.calendar-table {
  border-spacing: 20px;
  border-collapse: separate;
  margin: 50px auto;
  max-width: 90%;
}

.calendar-table--date {
  min-width: max-content;
}

.calendar-table--title {
  min-width: max-content;
}

.contact-list--container {
  max-width: 500px;
  margin: 100px auto;
}
