:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --lehigh-yellow: #FFD94A;
  --lehigh-brown: #4B2913;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

}

header {
  display: flex;
}

.navbar {
  background-color: var(--lehigh-brown);
  display: flex;
  align-items: center;
  width: 1200px;
  height: 64px;
  padding: 15px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  justify-content: space-between;
}

.nav--menu {
  display: flex;
  list-style-type: none;
  color: #ffffff;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
}

.nav--item {
  margin-right: 30px;
}

.nav--item > a {
  text-decoration: none;
  color: #ffffff;
}

.nav--item > a:hover {
  color: var(--lehigh-yellow);
}

.nav--logo {
  width: 200px;
  margin-left: 50px;
}

.account--menu {
  background-color: var(--lehigh-brown);
  width: 64px;
  height: 64px;
  padding: 15px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 30px;
  vertical-align: middle;
}

.account--menu > img {
  width: 64px;
}